* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3e5d8; /* Background coklat muda pastel */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #5c4033; /* Coklat gelap untuk teks */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: #5c4033; /* Coklat gelap untuk teks */
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #d7c0ae; /* Border coklat pastel */
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #b29480; /* Border coklat yang lebih gelap saat fokus */
}

button {
    background-color: #b29480; /* Coklat muda pastel */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9e7c6c; /* Lebih gelap saat hover */
}

#hasil {
    margin-top: 20px;
    color: #5c4033; /* Coklat gelap */
    font-size: 18px;
}
