*, body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f5e8d3;
}

.container{
    background-color: #fef7f1;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 30px 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    border-bottom: double;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #8b5e34;
}

table.form{
    text-align: left;
}

select{
    padding: 3px 5px;
    width: 165px;
    border: solid 1px #d2b48c;
}

input{
    padding: 3px 5px;
    border: solid 1px #d2b48c;
}

table{
    border-collapse: collapse;
}

th.table, td.table{
    border: 1px solid #d2b48c;
    padding: 3px 5px;
}

a{
    color: white;
    text-decoration: none;
}

button.tambah {
    font-size: 18px; 
    font-weight: 500;
    padding: 10px 20px;
    background-color: #b08968;
    color: white; 
    border: none; 
    border-radius: 5px; 
    margin: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.tambah:hover {
    background-color: #d8a576;
}
